@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* AND… a default background of transparent or white depending on browser */
}

/* this is for no scrolling bar showing  */
@utility no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
